@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --font-primary: "IBM Plex Sans", Ubuntu, sans-serif;
    --color-primary-light: #14b8a6;
    --color-primary: #0d9488;
    --color-error: #ea580c;
    --color-primary-dark: #134e4a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
}

main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

main a,
main a:visited,
main a:hover {
    color: var(--color-primary);
}

select {
    -webkit-appearance: menulist-button;
}